/* Remove style from date node, to allow us to add the update date underneath (remove mb-4) */
/* Use order to force date and updated date to be in the correct visual order */

#skip-to-frontmatter {
  margin-bottom: 0;
  order: -2; /* Keep the original date first */
}

.article.content.article-grid {
  display: grid;
}

.updated-date-container {
  order: -1; /* Move it visually below the date */
}

/* for pull-up figure */
figure.pull-up {
  margin-top: -2rem !important;
  margin-bottom: 1rem !important;
}

figure.pull-up > figure {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

figure.pull-up figcaption {
  margin-top: 0.25rem !important;
}